name: CI

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '*.md'
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Rails ${{ matrix.rails }}
    runs-on: ubuntu-latest
    env:
      COVERAGE: true
      RAILS_VERSION: ${{ matrix.rails }}

    strategy:
      matrix:
        rails: 
          - '4-2'
          - '5-0'
          - '5-1'
          - '5-2'
          - '6-0'
          - '6-1'
          - '7-0'
        include:
          - rails: '4-2'
            ruby_version: '2.4'
            bundler_version: '1.17.3'
          - rails: '5-0'
            ruby_version: '2.4'
            bundler_version: 'latest'
          - rails: '5-1'
            ruby_version: '2.5'
            bundler_version: 'latest'
          - rails: '5-2'
            ruby_version: '2.5'
            bundler_version: 'latest'
          - rails: '6-0'
            ruby_version: '2.7'
            bundler_version: 'latest'
          - rails: '6-1'
            ruby_version: '2.7'
            bundler_version: 'latest'
          - rails: '7-0'
            ruby_version: '3.1'
            bundler_version: 'latest'

    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby ${{ matrix.ruby_version }}
        uses: ruby/setup-ruby@ec02537da5712d66d4d50a0f33b7eb52773b5ed1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler: ${{ matrix.bundler_version }}
          bundler-cache: true
      - name: Install dependencies
        run: bundle install
      - name: Run tests
        run: bundle exec rspec
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
